#ukagaka_controlpanel ul li,.ukagaka_box,.ukagaka_toc,.ukagaka_msg,.widget, #playblock
{
  background: none repeat scroll 0% 0% #333534;
  border: 1px solid #696969;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.9);
  webkit-border-radius: 3px;
  webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.9);
}
#ukagaka_controlpanel
{
  bottom: 10px;
  float: right;
  position: fixed;
  right: 0;
}
#ukagaka_controlpanel ul
{
  margin: 7px 0;
}
#ukagaka_controlpanel ul li
{
  background: none repeat scroll 0% 0% rgba(155,155,155,0.5);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 18px;
  margin: 2px 5px;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  width: 20px;
  line-height: 19.2px;
}
.ukagaka_block
{
  max-width: 200px;
}
#ukagaka_panel
{
  bottom: 250px;
  font-family: "Open Sans Light","Georgia","Microsoft YaHei","Times New Roman",serif;
  position: fixed;
  right: 5px;
  width: 210px;
  z-index: 9999;
  text-align: left;
}
#ukagaka_panel span
{
  cursor: pointer;
}
.ukagaka_box,.ukagaka_toc,.ukagaka_msg
{
  background: #1f1f1f;
  color: #f0f0f0;
  font-family: "Open Sans Light","Georgia","Microsoft YaHei","Times New Roman",serif;
  font-size: 100%;
  line-height: 1.25em;
  max-width: 200px;
  padding: 10px;
}
.ukagaka_box a,.ukagaka_toc a,.ukagaka_msg a
{
  color: #f0f0f0;
  text-decoration: none;
}
#ukagaka_menubox, #ukagaka_renewlist, #ukagaka_sheetfield, #ukagaka_stringinput {
  margin: 10px -10px -10px -10px;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring,.ukagaka_msg span#ukagaka_menu_btn_renewlist,.ukagaka_msg span#ukagaka_menu_btn_exit,.ukagaka_msg span#ukagaka_btn_menu,.ukagaka_msg span#ukagaka_addmenu_add
{
  display: inline;
  margin: .1em;
  font-weight: bold;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring:hover,.ukagaka_msg span#ukagaka_menu_btn_renewlist:hover,.ukagaka_msg span#ukagaka_menu_btn_exit:hover,.ukagaka_msg span#ukagaka_btn_menu:hover,.ukagaka_msg span#ukagaka_addmenu_add:hover
{
  color: #2ca6cb;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring::before,.ukagaka_msg span#ukagaka_menu_btn_renewlist::before,.ukagaka_msg span#ukagaka_menu_btn_exit::before,.ukagaka_msg span#ukagaka_btn_menu::before,.ukagaka_msg span#ukagaka_addmenu_add::before
{
  padding-right: .5em;
}
.ukagaka_msg a
{
  color: #4183c4;
  text-decoration: none;
}
.ukagaka_msg a:hover
{
  text-decoration: underline;
}
.ukagaka_img
{
  bottom: -20px;
  max-height: 270px;
  pointer-events: none;
  position: fixed;
  right: 0;
}
.ukagaka_log
{
  cursor: pointer;
  position: relative;
  right: 0;
  width: 50px;
}
#ukagaka_stringinput >input
{
  width: 100%;
  margin: 0px 0px 8px 0px;
}
.typed-cursor
{
  animation: blink .7s infinite;
  moz-animation: blink .7s infinite;
  ms-animation: blink .7s infinite;
  opacity: 1;
  webkit-animation: blink .7s infinite;
}
.left
{
  float: left;
}
.right
{
  float: right;
}
.clear
{
  clear: both;
}
#background
{
  background-size: cover;
  height: 100%;
  khtml-user-select: none;
  left: 0;
  moz-background-size: cover;
  moz-user-select: none;
  ms-user-select: none;
  o-user-select: none;
  position: fixed;
  top: 0;
  user-select: none;
  webkit-background-size: cover;
  webkit-user-select: none;
  width: 100%;
}
#playblock {
  margin: 2px 0px;
}
#player
{
  margin: 4px -8px;
  padding: 28px 16px;
  position: relative;
}
#player i
{
  padding: 5px;
}
#player .ctrl
{
  line-height: 16px;
  text-shadow: 0 1px 2px #000;
}
#player .ctrl .tag
{
  color: #f0f0f0;
}
#player .ctrl .tag span
{
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
}
#player .ctrl .control
{
  height: 25px;
  margin-top: 10px;
}
#player .ctrl .control .volume .slider
{
  float: right;
  margin-top: 5px;
  width: 80px;
}
#player .ctrl .progress
{
  margin-top: 10px;
}
#player .ctrl .progress .timer
{
  color: #ccc;
  font-size: 12px;
  margin-top: 8px;
  font-family: "Open Sans Light", Georgia, serif;
}
#player .ctrl .progress .shuffle
{
}
#player .ctrl .tag strong,#player .ctrl .tag span
{
  display: inline-block;
  padding: 0 3px;
  text-overflow: ellipsis;
}
#player .ctrl .icon:hover,#player .ctrl i.enable
{
  opacity: .5;
}
#player .ctrl .progress .repeat.once,#player .ctrl .progress .repeat.all
{
  opacity: .5;
}
.slider
{
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
  cursor: pointer;
  height: 5px;
  khtml-border-radius: 5px;
  moz-border-radius: 5px;
  moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
  ms-border-radius: 5px;
  o-border-radius: 5px;
  o-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
  position: relative;
  webkit-border-radius: 5px;
  webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
}
.slider a
{
  background: #fff;
  border-radius: 50%;
  height: 5px;
  khtml-border-radius: 50%;
  margin-left: -2.5px;
  moz-border-radius: 50%;
  moz-transition: opacity .3s;
  moz-transition: opacity 0.3s;
  ms-border-radius: 50%;
  ms-transition: opacity 0.3s;
  o-border-radius: 50%;
  opacity: 0;
  o-transition: opacity .3s;
  position: absolute;
  transition: opacity 0.3s;
  webkit-border-radius: 50%;
  webkit-transition: opacity .3s;
  webkit-transition: opacity 0.3s;
  width: 5px;
}
.slider .loaded
{
  background: rgba(255,255,255,0.1);
}
.slider .pace
{
  background: #258fb8;
}
.slider:hover a,.slider.enable a
{
  opacity: 1;
}
.slider .loaded,.slider .pace
{
  border-radius: 5px;
  height: 100%;
  khtml-border-radius: 5px;
  moz-border-radius: 5px;
  ms-border-radius: 5px;
  o-border-radius: 5px;
  opacity: .7;
  position: absolute;
  webkit-border-radius: 5px;
}
@-moz-keyframes blink
{
  0%
  {
    opacity: 1;
  }
  50%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@-webkit-keyframes blink
{
  0%
  {
    opacity: 1;
  }
  50%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@-o-keyframes blink
{
  0%
  {
    opacity: 1;
  }
  50%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@keyframes blink
{
  0%
  {
    opacity: 1;
  }
  50%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}